@import url('fontawesome-all.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic');


* {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.75em;
	color: #a2a2a2;
	box-sizing: border-box;
	max-width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: grey;
}

.modal form div label {
    /* color: blue; */
    width: 90px;
    display: inline-block;
}

#submit-button {
    margin: 30px auto;
    display: block;
}